.banner-main-wrapper {
	display: flex;
	flex: 1;
	background-image: url(../Images/hero-bg.svg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: black;
	height: 100vh;
}
.banner-br-wrapper {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	padding: 100px 0px;
}

.banner-content {
	display: flex;
	flex: 1;
	align-items: center;
	margin-top: 3em;
}

.banner-sub-text {
	line-height: 1.7;
	margin: 2em 0;
}

.banner-text {
	color: var(--primary-bg);
}

@media (max-width: 768px) {
	.banner-content {
		flex-direction: column;
	}
	.banner-user-img {
		width: 350px;
		margin-top: 5em;
	}
	.banner-text {
		font-size: 2rem;
		font-weight: 800;
	}

	.banner-text-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 5em;
	}
	.banner-sub-text {
		text-align: center;
		margin: 2em;
	}
	.hero-image {
		margin-top: 4em;
		width: 80%;
		height: -webkit-fill-available;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.banner-content {
		flex-direction: column;
	}
	.banner-user-img {
		width: 350px;
	}
	.banner-text {
		font-size: 2.5rem;
		flex: 1;
		text-align: center;
		font-weight: 800;
	}

	.banner-text-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.hero-image {
		margin-top: 2em;
		width: 60%;
		height: -webkit-fill-available;
	}
}

@media (min-width: 1024px) {
	.banner-text {
		font-size: 3.5rem;
		flex: 1;
		text-align: initial;
		font-weight: 800;
	}
	.banner-sub-text {
		text-align: initial;
	}
	.banner-text-wrapper {
		width: 500px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.hero-image {
		width: 500px;
	}
	.banner-content {
		justify-content: space-between;
	}
}
