.move-wrap {
	flex: 1;
	height: 100vh;
}

.move-wrap-1 {
	height: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.move-wrap-2 {
	height: 1000px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-img {
	width: 100px;
	position: relative;
	/* animation-direction: ; */
}

.banner-img-2 {
	width: 100px;
	position: relative;
}

.animate {
	animation: myfirst 5s;
	position: relative;
	left: -421px;
	top: 911px;
}

.animate-2 {
	animation: mysecond 5s;
	position: relative;
	left: 158px;
	top: 892px;
}

@keyframes myfirst {
	0% {
		left: 0px;
		top: 0px;
	}
	100% {
		left: -421px;
		top: 911px;
	}
}

@keyframes mysecond {
	0% {
		left: 0px;
		top: 0px;
	}
	100% {
		left: 158px;
		top: 892px;
	}
}

.user-img {
	width: 1300px;
}
